//General parameters for nextflow execution:
process.executor = "slurm"
process.clusterOptions = '--requeue'
//SLURM general submission options:
executor {
   queueSize = 300
   submitRateLimit = '100/5min'
}

//Input parameters for the pipeline:

//Directory for final outputs:
params.run_name = "Samoan_worldwide"
params.output_prefix = "/gpfs/gibbs/pi/tucci/cl2549/02_Samoa/preliminary_analysis/ADMIXTURE5/"
params.output_dir = "${params.output_prefix}/${params.run_name}_ADMIXTURE"

//Default paths, globs, and regexes:
//Prefix for PLINK input files:
params.plink_prefix = "Samoan_1000G2504frz9.normalized.bisnp.PASS.D12_het.missing0.02_maf0.01_LDpruned"
//Path to population map file:
params.pop_map = "/gpfs/gibbs/pi/tucci/cl2549/02_Samoa/preliminary_analysis/ADMIXTURE5/pop_map_keepall.txt"
params.samples_to_exclude = "/gpfs/gibbs/pi/tucci/cl2549/02_Samoa/preliminary_analysis/ADMIXTURE5/exclude_tokeepall.txt"
params.drawparams = "drawparams"

//Note that this PRNG seed is actually a kind of "hyperseed", seeding the PRNG that generates the per-replicate seeds for ADMIXTURE:
params.prng_seed = 42
//Range of K to run:
params.minK = 2
params.maxK = 9
//Number of replicates per K:
params.replicates = 10
//Number of folds for cross-validation:
params.cv_folds = 20
//Threshold to use for MCL clustering of components across K values:
params.mclthreshold = 0.9

//Short string to describe the MAF filter being used in this run:
params.MAF_name = "maf0.01"
//Short string to describe the LD pruning parameters being used in this run:
params.LD_name = "LDpruned"

//Debugging options:
trace {
   enabled = true
   fields = 'task_id,name,hash,status,exit,cpus,memory,time,submit,start,complete,duration,%cpu,%mem,peak_rss,workdir'
   file = "${params.output_dir}/${params.run_name}_ADMIXTURE_${params.MAF_name}_${params.LD_name}_nextflow_trace.txt"
   raw = true
   overwrite = true
}

//Reference-related parameters for the pipeline:
profiles {
   mccleary {
      params.mod_plink = "PLINK/1.9b_6.21-x86_64"
      params.mod_admixture = "ADMIXTURE/1.3.0"
      params.mod_clumpak = "CLUMPAK/26_03_2015"
      //Path to CLUMPAK install zip:
      params.clumpak_zip = "/gpfs/gibbs/pi/tucci/cl2549/software/CLUMPAK/CLUMPAK/26_03_2015_CLUMPAK.zip"
      //Relative path to CLUMPAK Perl modules:
      params.clumpak_path = "26_03_2015_CLUMPAK/CLUMPAK"
      process.queue = 'day'
   }
}

//SLURM submission parameters:
//Memory specified in GiB unless otherwise indicated
//Defaults for cpus, memory, and time for each process:
//Input subsetting:
//Max 1 retry
//Adds 16 GiB per retry
//Timeout to 24h on retry
params.subset_cpus = 4
params.subset_mem = 3
params.subset_timeout = '1h'
params.subset_queue = 'day'
//ADMIXTURE step:
//Max 1 retry
//Adds 32 GiB per retry
//Timeout to 96h on retry
params.admixture_cpus = 8
params.admixture_mem = 16
params.admixture_timeout = '144h'
params.admixture_long_timeout = '336h'
params.admixture_queue = 'week'
params.admixture_long_queue = 'long'
//Zipping of Q matrices for CLUMPAK:
//Max 1 retry
//Adds 1 GiB per retry
//Timeout to 12h on retry
params.zip_q_cpus = 1
params.zip_q_mem = 1
params.zip_q_timeout = '1h'
params.zip_q_queue = 'day'
//CLUMPAK step:
//Max 1 retry
//Adds 1 GiB per retry
//Timeout to 12h on retry
params.clumpak_cpus = 1
params.clumpak_mem = 2
params.clumpak_timeout = '3h'
params.clumpak_queue = 'day'
